<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doLogin()">
    <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      
      <ion-item  *ngIf="error">
        <p class="error-message">{{errorMessage}}</p>
      </ion-item>  

      <ion-item>
        <p>Don't have an account? Click <a (click)="goToCreateAccountPage()">here</a> to create one.</p>
      </ion-item>  

      <div padding>
        <button ion-button color="primary" block *ngIf="!loggingIn">Login</button>
        <button ion-button color="primary" block *ngIf="loggingIn">
          <ion-spinner name="dots"></ion-spinner>
        </button>
        
      </div>

    </ion-list>
  </form>
</ion-content>