// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$color-primary: #74d419;
$color-background-light: #EBF7E3;
$color-background-dark: #9BD770;
$color-highlight: #215000;
$color-secondary: rgb(58, 134, 0);
$color-background: #EEEEEE;
$color-button: #6dc718;

.toolbar-background {
    background-color: $color-primary;
}

.content {
    background-color: $color-background;
}

.card {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}

.button {
    background-color: $color-button;
}

.toolbar-title {
    color: $color-highlight;
}

.fab {
    background-color: $color-primary;
}

#nav-menu-container {
    color: white;
}


.menu-close {
    border-bottom: 0px solid #dedede;
}

// .secondary-bar .item-inner {
//     //.list-md .item-block .item-inner {
//         // .list-md {
//         // background-color: red;
//         border-bottom: 0px solid #dedede !important;
//         //background-color: red;
//     // }
// }

.close-menu {
    background-color: $color-secondary !important;
    color: white;
    font-weight: 700
}

.close-menu .item-inner {
    border-bottom: 0px solid #dedede !important;
}

.secondary-bar  {
    background-color: $color-background !important;
}


.nav-menu-title {
    background-color: $color-primary;
    margin: 0px;
    padding: 20px 8px 20px 8px;
    font-size: 20px;
    font-weight: 700;
}



  