page-edit-transaction {
    #datetime-picker {
        padding: 0px;
    }

    .text-input-md {
        margin: 13px 0px;
    }

    .item-md {
        padding-right: 16px;
    }

    #item-button {
        padding-right: 0px;
    }
}
