page-analytics {
    .card-header {
        border-style: groove;
        border-color: #DFDFDF;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
    }

    #datetime-label {
        color: black;
    }
}
