<ion-header>

  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="createAccountForm" (submit)="validateInformation()">
    <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password" [(ngModel)]="account.confirmPassword" name="confirm-password"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="error">
        <p class="error-message">{{errorMessage}}</p>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block *ngIf="!loading">Create Account</button>
        <button ion-button color="primary" block *ngIf="loading">
          <ion-spinner name="dots"></ion-spinner>
        </button>
      </div>

    </ion-list>
  </form>
</ion-content>